@import "tailwindcss";

@theme{
    --font-bangers:"Bangers", serif;
    --font-poppins: "Poppins", serif;
}

  .card-wrapper:hover .card-front-side {
    transform: rotateY(180deg);
  }

  .card-wrapper:hover .card-back-side {
    transform: rotateY(360deg);
  }